 .news__items
    .column-tablet-1-2.column-laptop-1-4
      .news-item
        .news-item__img.news__img-width
          img(src="img/news1.jpg")
        .news-item__title
          span Назва новини
        .news-item__date
          span 15.07.2019
        .news-item__text
          span Lorem ipsum dolor sit amet, praesent eget, semper fermentum tortor nulla wisi vel, integer pede. 
        .news-item__link
          a(href="#") Читати
            span &#8594;
    .column-tablet-1-2.column-laptop-1-4
      .news-item
        .news-item__img.news__img-width
          img(src="img/news2.jpg")
        .news-item__title
          span Якщо назва новини є досить довгою, це буде виглядати...
        .news-item__date
          span 08.07.2019
        .news-item__text
          span Lorem ipsum dolor sit amet, praesent eget, semper fermentum tortor nulla wisi vel, integer pede. 
        .news-item__link
          a(href="#") Читати
            span &#8594;
    .column-tablet-1-2.column-laptop-1-4
      .news-item
        .news-item__img.news__img-width
          img(src="img/news3.jpg")
        .news-item__title
          span Назва новини
        .news-item__date
          span 28.06.2019
        .news-item__text
          span Lorem ipsum dolor sit amet, praesent eget, semper fermentum tortor nulla wisi vel, integer pede. 
        .news-item__link
          a(href="#") Читати
            span &#8594;
    .column-tablet-1-2.column-laptop-1-4
      .news-item
        .news-item__img.news__img-width
          img(src="img/news4.jpg")
        .news-item__title
          span Назва новини
        .news-item__date
          span 14.06.2019
        .news-item__text
          span Lorem ipsum dolor sit amet, praesent eget, semper fermentum tortor nulla wisi vel, integer pede. 
        .news-item__link
          a(href="#") Читати
            span &#8594;



&__items
  display: flex
  flex-direction: row
  .news-item      
    font-family: $mfont
    &__img
      display: flex
    .news__img-width
      overflow: hidden
      max-height: 170px
      margin: 10px 0
      
    &__title
      font-style: medium
      font-size: 22px
      color: #4D4C4C
      margin-top: 20px
    &__date
      font-size: 18px
      color: #C4C4C4
      margin: 10px 0 15px
    &__text
      font-size: 18px
      color: #787878
      margin-bottom: 30px
    &__link
      a
        color: #57A4FF
        font-size: 18px
        text-decoration: none
        span
          margin-left: 15px