.footer
  .footer__map#contact
    #map-canvas
      script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyCCtqo1cC4VpQfgYyZunS0bHpCk4IV0ATU', type='text/javascript')  
  .wrapper
    .row        
      .footer__box
          span с. Марківці, вул. Центральна, ур. «Гора», Тисменицький район, Івано-Франківська область
  .footer__copyright
    span @Сонячний порт 2019
script(src="js/src.js")
