.header
  .wrapper
    .row
      .column-tablet-1-1
        .header__wrapper
          .logo 
            a(href="#")
              span сонячний порт
          .menu-opener
            span
            span
            span

          .menu
            -
              var menu = [
                {text:'Головна', href:'#hero', active: 1},
                {text:'Про проект', href:'#about'},
                {text:'Показники', href:'#indexes'},
                {text:'Галерея', href:'#gallery '},
                {text:'Новини', href:'#news'},
                {text:'Контакти', href:'#contact'}
              ];
            +menu(menu)
    