.project-description
  .wrapper
    .row
      .column-laptop-1-2
        |img
        .project-description__reports
          h3 звіти
          a(href="#") link1
          a(href="#") link1
          a(href="#") link1
      .column-laptop-1-2
        .project-description__text
          h3 про проект
          span Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem tortor, iaculis in pharetra et, finibus vel lorem. Donec quis accumsan tellus, et ultrices purus. Nam vel purus a sapien sollicitudin congue. Donec nec est eu nibh efficitur sagittis in ut risus. Morbi sodales faucibus lectus rhoncus porttitor. Quisque feugiat neque vitae nisl hendrerit, vitae euismod justo mattis. Etiam ultricies ut orci ac fringilla. Mauris erat tortor, dictum vel finibus vitae, efficitur eu purus. Fusce hendrerit metus ac bibendum iaculis. Etiam pharetra ut leo ut maximus. Ut ut leo pharetra, fermentum ipsum eu, consequat sem.
        |img
      .column-laptop-1-1
        .project-indexes__title
          span технічно-економічні показники проекту
        .column-laptop-4-5
          .project-indexes
            .project-row
              .project-col.project-col-title.two-cols
                div
                  |teasdasdasdasdasdasd
                div
                  |teasdasdasdasdasdasd
              .project-col.project-col-number
                div 10
            .project-row
              .project-col.project-col-title.two-cols
                div
                  
                div
                  |teasdasdasdasdasdasd
              .project-col.project-col-number
                div 10

            .project-row
              .project-col.project-col-title
                |teasdasdasdasdasdasd
              .project-col.project-col-number
                |10
            
            .project-row
              .project-col.project-col-title
                |teasdasdasdasdasdasd
              .project-col.project-col-number
                |110
  .wrapper
    .row
      .column-laptop-1-1
        .gallery
          .gallery__title
            span галерея
          .gallery__img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
          .gallery__link
            a(href="#") дивитись всі
  .wrapper
    .row
      .column-laptop-1-1
        .news
          .news
            __title
            span галерея
          .gallery__img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
            .column-laptop-1-4
              |img
          .gallery__link
            a(href="#") дивитись всі


  
  include partials/footer