doctype html
html(lang='uk')
  include partials/head
  include partials/mixin
body
  include partials/header
  .hero.section-hero
    .wrapper
      .row
        .column-phablet-3-4.column-tablet-3-4.column-laptop-3-4.column-desktop-1-2
          .hero__description
            .title
              span Сонячний порт
            .right-t
              .text
                span Lorem ipsum dolor sit amet, praesent eget, semper fermentum tortor nulla wisi vel, integer pede, lobortis etiam dui et enim
      
  .wrapper
    .row.section-project-description
      .project-description
        .column-laptop-1-2
          .project-description__img.right_ind
            img(src="img/description-project.jpg")
        .column-laptop-1-2.c-t
          .project-description__title
            span про проект
          .project-description__text
            p Lorem ipsum dolor sit amet, libero aliquet nibh arcu mi sit, donec ante eget cras a nunc, ipsum vel pede eu conubia non molestie, morbi ligula. 
            p donec. In donec vel, eu adipiscing ultrices nihil suscipit ipsum cras. In interdum arcu sed consectetuer rhoncus in, lacus adipiscing dui ut sed, urna ligula et est. Purus eros, orci sit, dolor odio sollicitudin gravida in neque eget, sed magnis lorem. Lacus ea tincidunt sit, odio ipsum quis, urna dolor nulla consectetuer varius, scelerisque cras nulla quam massa. Suspendisse montes ultricies faucibus lectus, elit dapibus sodales sapien, odio non, adipiscing magna, pellentesque sociosqu id. Nec lorem eu hac in interdum integer, non enim, nam iaculis lorem.
      .project-reports
        .column-laptop-1-2
          .project-reports__title
            span звіти
          .project-reports__link
            a(href="#") Звіт про постачання та використання енергії
            a(href="#") Звіт про фінансові результати
            a(href="#") Звіт про баланс
        .column-laptop-1-2
          .project-reports__img.left_ind
            img(src="img/description-reports.jpg")     
    .row.section-project-indexes 
      .column-laptop-1-1
        .project-indexes__title
          span технічно-економічні показники проекту
        .column-laptop-4-5
          .project-indexes
            .project-row
              .project-col.project-col-title.two-cols
                div
                  |teasdasdasdasdasdasd
                div
                  |teasdasdasdasdasdasd
              .project-col.project-col-number
                div 10
            .project-row
              .project-col.project-col-title.two-cols
                div
                  
                div
                  |teasdasdasdasdasdasd
              .project-col.project-col-number
                div 10

            .project-row
              .project-col.project-col-title
                |teasdasdasdasdasdasd
              .project-col.project-col-number
                |10
            
            .project-row
              .project-col.project-col-title
                |teasdasdasdasdasdasd
              .project-col.project-col-number
                |110
  .row.section-gallery
    .column-laptop-1-1
      .gallery
        .gallery__title
          span галерея
        .gallery__img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
        .gallery__link
          a(href="#") дивитись всі
  .row.section-news
    .column-laptop-1-1
      .news
        .news__title
          span галерея
        .gallery__img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
          .column-laptop-1-4
            |img
        .gallery__link
          a(href="#") дивитись всі


  
  include partials/footer
  